* {
	font-family: Vazir, sans-serif;
}
.root {
	padding-right              : 1%;
	padding-left               : 1%;
	border-bottom-left-radius  : 10px;
	border-bottom-right-radius : 10px;
	background : -webkit-linear-gradient(-35deg, #342F51, #8D245E);
	background : -o-linear-gradient(-35deg, #342F51, #8D245E);
	background : -moz-linear-gradient(-35deg, #342F51, #8D245E);
	background : linear-gradient(-35deg, #342F51, #8D245E);
}

.ct {
	padding-right        : 12%;
	padding-left         : 12%;
	-moz-animation-delay : inherit;
}

.body {
	background : -webkit-linear-gradient(-35deg, #1f3a93, #f64747);
	background : -o-linear-gradient(-35deg, #1f3a93, #f64747);
	background : -moz-linear-gradient(-35deg, #1f3a93, #f64747);
	background : linear-gradient(-35deg, #1f3a93, #f64747);
	padding-right      : 6%;
	padding-left       : 6%;
	border-radius      : 10px;
	mso-border-shadow  : yes;
	-webkit-box-shadow : 0 5px 8px 8px rgba(0, 0, 0, 0.14), 0 5px 8px 8px rgba(0, 0, 0, 0.12), 0 7px 7px -5px rgba(0, 0, 0, 0.2);
	box-shadow         : 0 5px 8px 8px rgba(0, 0, 0, 0.14), 0 5px 8px 8px rgba(0, 0, 0, 0.12), 0 7px 7px -5px rgba(0, 0, 0, 0.2);
}
.score {
	padding-right : 15%;
	padding-left : 15%;
}

.input {
	border-radius: 30em;
	padding-right: 20px;
	padding-left: 20px;
}

.project {
	padding-right : 13%;
	padding-left : 13%;
}

.uk-label {
	margin: 0px;
	margin-right: 20px;
	border-top-right-radius: 20px;
}

.uk-fieldset {
	text-align: right;
}

.uk-legend{
	color: white;
}

.calculator {
	border-radius: 30em;
	padding-right: 20px;
}

.padding {
	padding-bottom: 1em;
}